body {
	margin: 0px; padding: 0px;
}
nav {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
footer {
	margin: 0px; padding: 0px;
}
body {
	background: rgb(255, 255, 255); color: rgb(51, 51, 51); font-family: "Microsoft Yahei","Simsun"; font-size: 62.5%; -webkit-text-size-adjust: none;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
form {
	display: inline;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a {
	color: rgb(26, 26, 26); text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:active {
	color: rgb(170, 170, 170);
}
img {
	border: 0px currentColor; border-image: none; vertical-align: middle; -ms-interpolation-mode: bicubic;
}
button {
	font-size: 100%; vertical-align: middle;
}
input {
	font-size: 100%; vertical-align: middle;
}
select {
	font-size: 100%; vertical-align: middle;
}
textarea {
	font-size: 100%; vertical-align: middle;
}
textarea {
	resize: none;
}
button {
	cursor: pointer; -webkit-appearance: button; -moz-appearance: button;
}
input[type='button'] {
	cursor: pointer; -webkit-appearance: button; -moz-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button; -moz-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button; -moz-appearance: button;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.ellipsis {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.break {
	-ms-word-break: break-all; -ms-word-wrap: break-word;
}
header {
	clear: all; display: block;
}
footer {
	clear: all; display: block;
}
article {
	clear: all; display: block;
}
section {
	clear: all; display: block;
}
nav {
	clear: all; display: block;
}
menu {
	clear: all; display: block;
}
hgroup {
	clear: all; display: block;
}
.pt5 {
	padding-top: 5px;
}
.pb5 {
	padding-bottom: 5px;
}
.m10 {
	margin: 10px;
}
.m15 {
	margin: 15px;
}
.mt55 {
	margin-top: 55px;
}
.wrap {
	overflow: hidden; background-color: rgb(224, 220, 207);
}
.page {
	margin: 0px auto; padding-top: 45px; position: relative; z-index: 100;
}
.header {
	top: 0px; width: 100%; height: 45px; line-height: 45px; position: fixed; z-index: 10000; background-color: rgb(204, 0, 0);
}
.header .logo {
	background: url("../images/logo.png") no-repeat 0% 0% / 100%; left: 8px; top: 8px; width: 120px; height: 30px; text-indent: -999em; position: absolute;
}
.header .nav {
	top: 0px; width: 75px; height: 45px; right: 0px; position: absolute; z-index: 1000; background-color: rgb(178, 0, 0);
}
.header .nav h2 {
	width: 75px; height: 45px; position: relative;
}
.header .nav h2 a {
	width: 60px; height: 45px; color: rgb(255, 255, 255); line-height: 45px; padding-left: 15px; font-size: 1.6em; display: inline-block;
}
.header .nav h2 i {
	top: 18px; width: 0px; height: 0px; right: 8px; margin-left: 2px; border-top-color: rgb(255, 255, 255); border-right-color: transparent; border-left-color: transparent; border-top-width: 8px; border-right-width: 8px; border-left-width: 8px; border-top-style: solid; border-right-style: solid; border-left-style: solid; display: block; position: absolute;
}
.header .nav h2 i.on {
	transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.header .nav ul.ul_box {
	background: rgba(0, 0, 0, 0.7); left: -90px; top: 45px; width: 165px; position: absolute;
}
.header .nav ul.ul_box li {
	width: 165px; height: 40px;
}
.header .nav ul.ul_box li a {
	background: url("../images/nav_li_bg.png") no-repeat 0% 0% / 20% auto; width: 70px; height: 40px; color: rgb(255, 255, 255); line-height: 40px; padding-left: 80px; font-size: 1.6em; display: block;
}
.header .nav ul.ul_box li.on {
	background: rgba(178, 0, 0, 0.3);
}
.header .nav ul.ul_box li.li01 a {
	background-position: 40px 3px;
}
.header .nav ul.ul_box li.li02 a {
	background-position: 40px -53px;
}
.header .nav ul.ul_box li.li03 a {
	background-position: 40px -113px;
}
.header .nav ul.ul_box li.li04 a {
	background-position: 40px -169px;
}
.header .nav ul.ul_box li.li05 a {
	background-position: 40px -226px;
}
.header .nav ul.ul_box li.li06 a {
	background-position: 40px -287px;
}
.header .nav ul.ul_box li.li07 a {
	background-position: 40px -347px;
}
.header .nav ul.ul_box li.li08 a {
	background-position: 40px -401px;
}
.header .nav ul.ul_box li.li09 a {
	background: url("../images/in_bg09.png") no-repeat 40px 7px / 20% auto;
}
.banner ul {
	
}
.banner ul li a {
	display: block;
}
.banner ul li a img {
	width: 100%;
}
.mod-softdown {
	margin: 10px; overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);
}
.mt55.mod-softdown {
	margin-top: 55px;
}
.mod-softdown .hd {
	margin: 0px 3.12%; height: 30px; line-height: 30px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.mod-softdown .hd h2 {
	background: url("../images/icon02.png") no-repeat left / 12px 15px; height: 30px; color: rgb(255, 64, 0); line-height: 30px; padding-left: 20px; font-size: 1.6em; border-bottom-color: rgb(255, 64, 0); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.mod-softdown .bd {
	overflow: hidden;
}
.mod-softdown .bd ul {
	overflow: hidden;
}
.mod-softdown .bd ul li {
	
}
.mod-softdown .bd ul li .soft {
	padding: 8px 3.12%; height: 60px; border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.mod-softdown .bd ul li .soft .soft_icon {
	background: rgb(238, 238, 238); border-radius: 8px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 3.27%; top: 10px; width: 55px; height: 55px; position: absolute;
}
.mod-softdown .bd ul li .soft .soft_icon img {
	border-radius: 8px; width: 55px; height: 55px;
}
.mod-softdown .bd ul li .soft .soft_info {
	padding: 0px 0px 0px 70px; width: 52.14%; display: inline-block;
}
.mod-softdown .bd ul li .soft .soft_info h2 {
	color: rgb(63, 63, 63); line-height: 2.2em; font-size: 1.6em; font-weight: bold;
}
.mod-softdown .bd ul li .soft .soft_info p {
	color: rgb(102, 102, 102); line-height: 1.75em;
}
.mod-softdown .bd ul li .soft .soft_down {
	width: 40px; height: 60px; padding-left: 10px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: right; position: relative;
}
.mod-softdown .bd ul li .soft .soft_down a {
	background: url("../images/down_bg.png") no-repeat right top / contain; width: 40px; height: 20px; text-align: center; color: rgb(77, 166, 255); line-height: 20px; padding-top: 45px; display: block;
}
.mod-softdown .bd ul li .soft .soft_down::before {
	background: url("../images/icon05.png") no-repeat 0% 0% / contain; left: -26px; top: 26px; width: 10px; height: 6px; display: block; position: absolute; content: "";
}
.mod-softdown .bd ul li .soft .on.soft_down::before {
	background: url("../images/icon05.png") no-repeat 0% 0% / contain; left: -26px; top: 26px; width: 10px; height: 6px; display: block; position: absolute; content: ""; transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.mod-softdown .bd ul li .desc {
	padding: 8px 3.12%; color: rgb(119, 119, 119); line-height: 1.71em; font-size: 1.4em; border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: solid;
}
.soft_more {
	background: rgb(238, 238, 238); height: 36px; text-align: center; color: rgb(119, 119, 119); line-height: 36px; font-size: 1.4em; margin-top: 10px; display: block;
}
.mod-news {
	margin: 10px; overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);
}
.mod-news .hd {
	margin: 10px 3.12%; height: 28px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid;
}
.mod-news .hd ul {
	position: absolute;
}
.mod-news .hd ul li {
	height: 30px; float: left;
}
.mod-news .hd ul li a {
	padding: 0px 9px; height: 30px; color: rgb(68, 68, 68); line-height: 30px; font-size: 1.4em; display: block; position: relative; background-color: rgb(223, 223, 223);
}
.mod-news .hd ul li.on a {
	color: rgb(255, 255, 255); background-color: rgb(238, 95, 24);
}
.mod-news .hd ul li.on a::before {
	left: 50%; top: 25px; width: 10px; height: 10px; margin-left: -5px; display: block; position: absolute; content: ""; transform: rotate(45deg); background-color: rgb(238, 95, 24); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.mod-news .bd {
	
}
.mod-news .bd ul {
	margin: 0px 3.12%;
}
.mod-news .bd ul li {
	height: 30px; line-height: 30px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dashed;
}
.mod-news .bd ul li span {
	margin: 5px 0px 0px; width: 36px; height: 19px; text-align: center; color: rgb(255, 255, 255); line-height: 19px; float: right; display: inline-block; background-color: rgb(204, 204, 204);
}
.mod-news .bd ul li span.today {
	background-color: rgb(239, 22, 22);
}
.mod-news .bd ul li span.yesterday {
	background-color: rgb(22, 169, 239);
}
.mod-news .bd ul li span.bef_yest {
	background-color: rgb(239, 125, 22);
}
.mod-news .bd ul li a {
	height: 30px; color: rgb(63, 63, 63); line-height: 30px; font-size: 1.4em; display: block;
}
.mod-news .bd ul li a::before {
	margin: 14px 6px 0px; border-radius: 2px; width: 4px; height: 4px; float: left; display: inline-block; content: ""; background-color: rgb(204, 0, 0);
}
.news_more_in {
	background: rgb(238, 238, 238); height: 36px; text-align: center; color: rgb(119, 119, 119); line-height: 36px; font-size: 1.4em; margin-top: 10px; display: block;
}
.footer {
	height: 60px; text-align: center; padding-top: 6px; background-color: rgb(204, 0, 0);
}
.footer p {
	height: 26px; color: rgb(255, 229, 153); line-height: 26px; font-size: 1.4em;
}
.footer p a {
	padding: 0px 4px; color: rgb(255, 229, 153);
}
.mod-sub-title {
	height: 45px; text-align: center; color: rgb(255, 255, 255); line-height: 45px; font-size: 1.6em;
}
.btn-goback {
	width: 80px; height: 45px; text-align: center; color: rgb(255, 255, 255); line-height: 45px; font-size: 1.6em; display: inline-block; position: absolute;
}
.btn-goback::before {
	border-width: 8px; border-style: solid; border-color: rgba(0, 0, 0, 0) rgb(255, 255, 255) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); border-image: none; left: 2px; top: 15px; width: 0px; height: 0px; display: block; position: absolute; content: "";
}
.sub-news {
	overflow: hidden;
}
.sub-news-list {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);
}
.news-list-hd {
	margin: 0px 10px; height: 32px; line-height: 32px; overflow: hidden;
}
.news-list-hd h2 {
	height: 32px; color: rgb(255, 63, 0); line-height: 32px; font-size: 1.6em; float: left;
}
.news-list-hd h2::before {
	background: url("../images/icon06.png") no-repeat 0% 0% / contain; top: 1px; width: 14px; height: 14px; margin-right: 6px; display: inline-block; position: relative; content: "";
}
.news-list-hd span {
	border-width: 3px medium medium; border-style: solid none none; border-color: rgb(238, 238, 238) currentColor currentColor; border-image: none; width: 20px; margin-top: 15px; float: right;
}
.news-list-bd {
	padding: 0px 10px; display: none;
}
.news-list-ul {
	padding: 5px 0px;
}
.news-list-ul-li {
	height: 30px; line-height: 30px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dashed;
}
.news-list-ul-li span {
	margin: 5px 0px 0px; width: 36px; height: 19px; text-align: center; color: rgb(255, 255, 255); line-height: 19px; float: right; display: inline-block; background-color: rgb(204, 204, 204);
}
.news-list-ul-li span.today {
	background-color: rgb(239, 22, 22);
}
.news-list-ul-li span.yesterday {
	background-color: rgb(22, 169, 239);
}
.news-list-ul-li span.bef_yest {
	background-color: rgb(239, 125, 22);
}
.news-list-ul-li a {
	width: 80%; height: 30px; color: rgb(63, 63, 63); line-height: 30px; overflow: hidden; font-size: 1.4em; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.news-list-ul-li a::before {
	margin: 14px 6px 0px; border-radius: 2px; width: 4px; height: 4px; float: left; display: inline-block; content: ""; background-color: rgb(204, 0, 0);
}
.news_more {
	background: rgb(238, 238, 238); height: 8px; text-align: center; color: rgb(119, 119, 119); line-height: 8px; margin-top: 0px; display: block;
}
.icon-news {
	background: rgb(170, 170, 170); margin: 2px 2px 0px; border-radius: 2px; width: 4px; height: 4px; display: inline-block;
}
.on.sub-news-list .news-list-hd {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid;
}
.on.sub-news-list .news-list-hd h2 {
	border-bottom-color: rgb(255, 64, 0); border-bottom-width: 2px; border-bottom-style: solid;
}
.on.sub-news-list .news-list-hd span {
	border-width: 5px 2px 2px; border-style: solid; border-color: rgb(238, 238, 238); width: 15px; height: 9px; margin-top: 9px; display: block;
}
.on.sub-news-list .news-list-bd {
	display: block;
}
.on.sub-news-list .news_more {
	height: 36px; line-height: 36px;
}
.news-content h3 {
	color: rgb(51, 51, 51); line-height: 22px; font-size: 22px; margin-bottom: 20px;
}
.news-content h4 {
	background: url("/front/images/icon02.gif") no-repeat 0px -420px; color: rgb(215, 5, 8); line-height: 30px; padding-left: 10px; font-size: 16px;
}
.news-content p {
	color: rgb(0, 0, 0); line-height: 26px; padding-left: 10px; font-size: 1.6em; margin-bottom: 20px;
}
.manager_dl {
	padding-left: 10px; margin-bottom: 18px;
}
.manager_dl dt {
	color: rgb(43, 43, 43); line-height: 28px; font-size: 14px; font-weight: bold;
}
.manager_dl dd {
	background: url("/front/images/zy_icon01.gif") no-repeat 0px -108px; line-height: 24px; padding-left: 18px; font-size: 14px;
}
.news-content {
	overflow: hidden; padding-top: 15px;
}
.news-content p {
	color: rgb(0, 0, 0); line-height: 26px; font-size: 1.6em; margin-bottom: 20px;
}
.news-cont-img img {
	margin: 0px auto 15px; width: 60%; display: block;
}
.product-list-hd {
	margin: 0px 10px; height: 32px; line-height: 32px; overflow: hidden;
}
.product-list-hd h2 {
	height: 32px; color: rgb(255, 63, 0); line-height: 32px; font-size: 1.6em; float: left;
}
.product-list-hd h2::before {
	background: url("../images/icon07.png") no-repeat 0% 0% / 100% auto; top: 2px; width: 15px; height: 15px; margin-right: 4px; display: inline-block; position: relative; content: "";
}
.product-list-hd span {
	border-width: 3px medium medium; border-style: solid none none; border-color: rgb(238, 238, 238) currentColor currentColor; border-image: none; width: 20px; margin-top: 15px; float: right;
}
.on.sub-news-list .product-list-hd {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid;
}
.on.sub-news-list .product-list-hd h2 {
	border-bottom-color: rgb(255, 64, 0); border-bottom-width: 2px; border-bottom-style: solid;
}
.on.sub-news-list .product-list-hd span {
	border-width: 5px 2px 2px; border-style: solid; border-color: rgb(238, 238, 238); width: 15px; height: 9px; margin-top: 9px; display: block;
}
h2.product-hd-icon01::before {
	background-position: 0px 0px;
}
h2.product-hd-icon02::before {
	background-position: 0px -28px;
}
h2.product-hd-icon03::before {
	background-position: 0px -56px;
}
h2.product-hd-icon04::before {
	background-position: 0px -84px;
}
h2.product-hd-icon05::before {
	background-position: 0px -113px;
}
h2.product-hd-icon06::before {
	background-position: 0px -138px;
}
h2.product-hd-icon07::before {
	background-position: 0px -168px;
}
.mod-article {
	overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);
}
.mod-article-title {
	margin: 0px auto; width: 78.68%; text-align: center; color: rgb(0, 0, 0); line-height: 26px; font-size: 1.8em; font-weight: 900;
}
.mod-article-info {
	margin: 0px 20px; height: 24px; line-height: 24px; border-bottom-color: rgb(255, 66, 3); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.mod-article-info span {
	color: rgb(153, 153, 153); font-size: 1.2em;
}
.mod-article-info span:nth-child(1) {
	margin-right: 10px; float: left;
}
.mod-article-info span:nth-child(2) {
	float: left;
}
.mod-article-info span:nth-child(3) {
	float: right;
}
.mod-article-content {
	margin: 0px 20px; padding: 10px 0px 0px;
}
.mod-article-content p {
	color: rgb(51, 51, 51); line-height: 22px; font-size: 1.4em; font-weight: bold; margin-bottom: 15px;
}
.mod-article-declaration {
	margin: 0px 20px; padding: 10px 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: dashed;
}
.mod-article-declaration p {
	color: rgb(215, 5, 7); font-size: 1.4em;
}
.m0-20 {
	margin: 0px 20px;
}
.pb20 {
	padding-bottom: 20px;
}
.p5-0 {
	padding: 5px 0px;
}
.p10-0 {
	padding: 10px 0px;
}
.mb10 {
	margin-bottom: 10px;
}
.pt10 {
	padding-top: 10px;
}
.register-web {
	overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);
}
.register-hd {
	height: 30px; line-height: 30px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.register-hd h2 {
	color: rgb(255, 69, 3); font-size: 1.6em; border-bottom-color: rgb(255, 67, 0); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.register-web-icon::before {
	background: url("../images/icon08.png") no-repeat 0% 0% / contain; top: 1px; width: 15px; height: 15px; margin-right: 5px; display: inline-block; position: relative; content: "";
}
.register-bd {
	
}
.register-web-text {
	padding: 10px 0px; color: rgb(119, 119, 119); line-height: 24px; text-indent: 2em; font-size: 1.4em;
}
.register-web-text em {
	color: rgb(39, 147, 255); font-style: normal;
}
.register-web-from {
	width: 100%; height: 30px; position: relative;
}
.register-titl {
	left: 0px; top: 0px; width: 100px; height: 30px; text-align: right; color: rgb(102, 102, 102); line-height: 30px; font-size: 1.4em; display: block; position: absolute;
}
.register-input {
	padding: 0px 10px; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.1); border-image: none; height: 30px; margin-left: 100px; display: block; box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1); -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}
.register-input-yz {
	padding: 0px 10px; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.1); border-image: none; height: 30px; margin-left: 100px; display: block; box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1); -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}
.register-mun {
	padding: 6px 0px 0px 10px; width: 72px; display: block;
}
.register-mun img {
	width: 70px; height: 21px;
}
.register-btn-submit {
	margin: 0px 80px; border-radius: 3px; text-align: center; color: rgb(255, 255, 255); line-height: 26px; font-size: 1.4em; border-bottom-color: rgb(234, 61, 0); border-bottom-width: 4px; border-bottom-style: solid; display: block; background-color: rgb(255, 69, 3); -webkit-box-flex: 1; -moz-box-flex: 1;
}
.register-phone {
	overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);
}
.register-phone-icon::before {
	background: url("../images/icon09.png") no-repeat 0% 0% / contain; top: 3px; width: 10px; height: 17px; margin-right: 5px; display: inline-block; position: relative; content: "";
}
.register-phone-text {
	color: rgb(102, 102, 102); line-height: 24px; font-size: 1.4em;
}
.p4 {
	padding: 4px 0px 4px 4px;
}
.pt0 {
	padding-top: 0px;
}
.p0-20 {
	padding: 0px 20px;
}
.pb10 {
	padding-bottom: 10px;
}
.mod-network {
	overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);
}
.network-hd {
	height: 30px; line-height: 30px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid;
}
.network-hd h2 {
	color: rgb(255, 69, 3); font-size: 1.6em; border-bottom-color: rgb(255, 67, 0); border-bottom-width: 2px; border-bottom-style: solid; float: left;
}
.network-icon::before {
	background: url("../images/icon10.png") no-repeat 0% 0% / contain; top: 1px; width: 15px; height: 15px; margin-right: 5px; display: inline-block; position: relative; content: "";
}
.network-bd {
	
}
.network-map {
	text-align: center;
}
.network-map img {
	width: 256px; height: 222px;
}
.network-title {
	height: 40px; line-height: 40px; font-size: 1.6em;
}
.network-city {
	
}
.city-list {
	width: 100%; box-sizing: border-box; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify;
}
.city-list a {
	height: 30px; text-align: center; color: rgb(119, 119, 119); line-height: 30px; font-size: 1.4em; margin-right: 5px; display: block; background-color: rgb(255, 255, 255); -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}
.city-list a.on {
	color: rgb(255, 255, 255); background-color: rgb(255, 67, 0);
}
.border-bot {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.network-item {
	overflow: hidden;
}
.item-name {
	height: 30px; color: rgb(255, 67, 0); line-height: 30px; clear: both; font-size: 1.4em;
}
.item-pic {
	float: left;
}
.item-pic img {
	padding: 1px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 66px; height: 66px;
}
.item-text {
	margin-left: 70px;
}
.item-text-p {
	color: rgb(71, 71, 71); line-height: 24px; padding-left: 15px; font-size: 1.4em;
}
.item-text-link {
	text-align: right; line-height: 24px;
}
.item-text-link a {
	color: rgb(0, 191, 255); font-size: 1.4em; margin-right: 10px;
}
.tech-nav {
	overflow: hidden;
}
.tech-nav ul {
	overflow: hidden; padding-top: 10px; margin-bottom: 10px; box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.tech-nav ul li {
	width: 22%; height: 35px; float: left;
}
.tech-nav ul li a {
	height: 35px; text-align: center; color: rgb(136, 136, 136); line-height: 35px; font-size: 1.4em; display: block;
}
.tech-nav ul li.on a {
	color: rgb(255, 67, 0); background-color: rgb(255, 223, 191);
}
.city-list .city-empty {
	background: rgb(230, 230, 217);
}
.city-tab {
	border: 5px solid rgb(230, 230, 217); border-image: none; width: 100%;
}
.city-tab td {
	border: 5px solid rgb(230, 230, 217); border-image: none; width: 20%;
}
.city-tab td a {
	height: 30px; text-align: center; color: rgb(119, 119, 119); line-height: 30px; font-size: 14px; display: block;
}
.city-tab td a.on {
	color: rgb(255, 255, 255); background-color: rgb(255, 67, 0);
}
.banner_link {
	overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);
}
.banner_link ul {
	padding: 4px; overflow: hidden;
}
.banner_link ul li {
	border: 2px solid rgb(255, 255, 255); border-image: none; width: 25%; height: 72px; float: left; position: relative; box-sizing: border-box;
}
.banner_link ul li a {
	height: 26px; text-align: center; color: rgb(255, 255, 255); line-height: 26px; padding-top: 40px; font-size: 12px; display: block; position: relative; z-index: 100;
}
.banner_link ul li:nth-child(1) {
	background-color: rgb(204, 0, 0);
}
.banner_link ul li:nth-child(1) i {
	background: url("../images/in_bg09.png") no-repeat center / 26px 21px; left: 50%; top: 14px; width: 26px; height: 22px; margin-left: -13px; display: block; position: absolute; z-index: 10;
}
.banner_link ul li:nth-child(2) {
	background-color: rgb(79, 122, 255);
}
.banner_link ul li:nth-child(2) i {
	background: url("../images/in_bg02.png") no-repeat center / 25px 22px; left: 50%; top: 14px; width: 25px; height: 22px; margin-left: -12px; display: block; position: absolute; z-index: 10;
}
.banner_link ul li:nth-child(3) {
	background-color: rgb(255, 191, 0);
}
.banner_link ul li:nth-child(3) i {
	background: url("../images/in_bg03.png") no-repeat center / 20px 22px; left: 50%; top: 14px; width: 20px; height: 22px; margin-left: -10px; display: block; position: absolute; z-index: 10;
}
.banner_link ul li:nth-child(4) {
	background-color: rgb(0, 178, 178);
}
.banner_link ul li:nth-child(4) i {
	background: url("../images/in_bg04.png") no-repeat center / 22px 22px; left: 50%; top: 14px; width: 22px; height: 22px; margin-left: -11px; display: block; position: absolute; z-index: 10;
}
.banner_link ul li:nth-child(5) {
	background-color: rgb(217, 109, 0);
}
.banner_link ul li:nth-child(5) i {
	background: url("../images/in_bg05.png") no-repeat center / 22px 22px; left: 50%; top: 14px; width: 22px; height: 22px; margin-left: -11px; display: block; position: absolute; z-index: 10;
}
.banner_link ul li:nth-child(6) {
	background-color: rgb(0, 178, 133);
}
.banner_link ul li:nth-child(6) i {
	background: url("../images/in_bg06.png") no-repeat center / 19px 24px; left: 50%; top: 14px; width: 19px; height: 24px; margin-left: -10px; display: block; position: absolute; z-index: 10;
}
.banner_link ul li:nth-child(7) {
	background-color: rgb(185, 115, 255);
}
.banner_link ul li:nth-child(7) i {
	background: url("../images/in_bg07.png") no-repeat center / 26px 18px; left: 50%; top: 18px; width: 26px; height: 18px; margin-left: -13px; display: block; position: absolute; z-index: 10;
}
.banner_link ul li:nth-child(8) {
	background-color: rgb(122, 79, 255);
}
.banner_link ul li:nth-child(8) i {
	background: url("../images/in_bg08.png") no-repeat center / 30px 21px; left: 50%; top: 14px; width: 30px; height: 22px; margin-left: -15px; display: block; position: absolute; z-index: 10;
}
.open-phone-icon::before {
	background: url("../images/icon09.png") no-repeat 0% 0% / contain; top: 1px; width: 10px; height: 16px; margin-right: 5px; display: inline-block; position: relative; content: "";
}
.open-pc-icon::before {
	background: url("../images/icon11.png") no-repeat 0% 0% / 16px 14px; top: 1px; width: 16px; height: 14px; margin-right: 5px; display: inline-block; position: relative; content: "";
}
.open-order-icon::before {
	background: url("../images/icon12.png") no-repeat 0% 0% / 15px 15px; top: 2px; width: 15px; height: 15px; margin-right: 5px; display: inline-block; position: relative; content: "";
}
.open-web-text {
	color: rgb(103, 103, 103); line-height: 30px; font-size: 1.4em;
}
.open-web-text a {
	color: rgb(39, 146, 255);
}
.m0-30-10-30 {
	margin: 0px 30px 10px;
}
.m10-30-10-30 {
	margin: 10px 30px;
}
.m10-25-10-25 {
	margin: 10px 25px;
}
.open-input {
	padding: 0px 10px; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.1); border-image: none; height: 30px; color: rgb(102, 102, 102); font-family: "Microsoft Yahei","Simsun"; font-size: 14px; margin-left: 80px; display: block; box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1); -webkit-appearance: none; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}
.pl5.open-input {
	padding-left: 5px;
}
.open-input-yz {
	padding: 0px 10px; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.1); border-image: none; height: 30px; margin-left: 80px; display: block; box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1); -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}
.open-web-from {
	width: 80%; height: 30px; position: relative;
}
.sel-btn {
	background: url("../images/icon13.png") no-repeat center / 10px 6px rgb(255, 66, 3); border-radius: 3px; top: 3px; width: 24px; height: 24px; right: 4px; display: block; position: absolute;
}
.open-mun {
	background: rgb(255, 223, 191); padding: 8px 0px 0px 10px; width: 72px; color: rgb(234, 61, 0); margin-left: 10px; display: block;
}
.radio-box {
	padding: 0px 10px; border: currentColor; border-image: none; height: 30px; color: rgb(102, 102, 102); font-family: "Microsoft Yahei","Simsun"; margin-left: 80px; display: block; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;
}
.radio-box label {
	height: 20px; padding-top: 8px; margin-right: 10px; display: inline-block;
}
.radio-box label input {
	top: -2px; margin-right: 3px; position: relative;
}
.m0-105.register-btn-submit {
	margin: 0px 105px;
}
